 <footer class="page-footer purple darken-3">
          <div class="container">
            <div class="row">
            <div class="col l4 s12">
                 <blockquote> <h5 class="white-text" style="font-family:cordia new;font-size:40px;">CollegeCult</h5>
                <address> <p class="grey-text text-lighten-4">this is address</p></address>
              </blockquote>
              </div>
              <div class="col l3 offset-l1 s12">
                <h6 class="white-text"><B>CONNECT WITH US</B></h6>
                <ul>
                  <li class="row"><a class="grey-text text-lighten-3" href="https://www.facebook.com/CollegeCults"><img src="img/ICONS/facebook_24px.png" style="float:left"> Facebook</a></li>
                  <li class="row"><a class="grey-text text-lighten-3" href="#!"><img src="img/ICONS/instagram_24px.png" style="float:left">      Instagram</a></li>
                  <li class="row"><a class="grey-text text-lighten-3" href="#!"><img src="img/ICONS/twitter_24px.png" style="float:left"> Twitter</a></li>
                  
                </ul>
              </div>


                <div class="col l3 offset-l1 s12">
                <h6 class="white-text"><B>HELP & SUPPORT</B></h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Suggest Products</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Feedback</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Return Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Why we don't use coupons?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright CollegeCult.com
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>