<html>
<head>
    <title>
    
    </title>
</head>
<body ng-app="angularApp" ng-controller="loginController">
    
<!-- side navbar starts here-->
<nav class="purple darken-3" style="position:fixed;z-index:999">
   

    <ul class="right hide-on-med-and-down">
     <a href="#" class="brand-logo center" style="font-family:cordia new">CollegeCult</a>
   
    </ul>
    
</nav> 
<!-- navbar ends here-->
     <div style="margin-top:60px"></div>
<div class="row" ng-show="forgot">
    <div class="col m12 s12" >
    <div class="card">
    <h3 style="font-family: cordia new; margin:15px;">We can recover your password in just two easy steps.</h3>
    <h5 class="" style="font-family: cordia new; margin:15px;">
        <blockquote  class="flow-text" >
            Just enter new password and change, just login again with new password.
        </blockquote>
    </h5>    
    <div class="card-action row ">
        <div class="row">
        <div  class="input-field col s11 m6 l4" style="float: left;margin-left: 27px;float:left">
            <input id="password" type="password" class="validate" value="" ng-model="email"  maxlength="12" minlength="8" required>
            <label for="password" data-error="Oops! too short" data-success="Perfect!">Your New Password</label>
        </div>
        </div>
     
        <div class="row">
         <div  class="input-field col s11 m6 l4" style="float: left;margin-left: 27px;float:left">
            <input id="confirmPassword" type="password" class="validate" value="" ng-model="email" maxlength="12" minlength="8" required>
             <label for="confirmPassword" data-error="Oops! too short" data-success="Perfect!">Confirm Password</label>
        </div>
       </div>
        <div class="row">
        <div class="input-field col s11 m6 l3" style="float: left;margin-left: 27px;">
            <input type="submit" name="submit" ng-click="login()" class="waves-effect waves-light btn" style="background-color:white;color:black;border:1px solid #e65100"value="Change">
        </div>
            </div>
    </div>
    </div>
  </div>
</div>




 <div style="margin-top:200px;"ng-include src="'partials/footer.html'"></div>
 
  
<!--my angular scripts-->
<script type="text/javascript" src="jquery/jquery.js"></script>

<!--materialize css-->
<link rel="stylesheet" href="materialize/css/materialize.min.css"> 
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<!--my css-->
<link href="css/index.css" rel="stylesheet">

<!--angular libraries-->
<script type="text/javascript" src="angular/lib/angular.min.js"></script>
<script type="text/javascript" src="angular/lib/angular-resource.min.js"></script>
<script type="text/javascript" src="angular/lib/angular-webstorage.min.js"></script>

<!--my javascripts-->
<script type="text/javascript" src="javascript/javascript.js"></script>
<script>
    function getQueryVariable(variable)
  {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }
          
         

  </script>
    </body>
    </html>   