<!DOCTYPE html>
<html lang="en">
<head>
  <title>CollegeCult- T-Shirts, Shoes, Skirts, Heels, Posters, Gifts and so much more you love. </title>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-app="angularApp" ng-controller="productDetails">
<!-- side navbar starts here-->
    <div class="navbar-fixed">
 <nav class="purple darken-2" ><!-- side navbar starts here-->
         
     <ul id="slide-out" class="side-nav">
            <li class="purple darken-3" style="width:100% text-align:center">
               <ul > 
                   <li ><strong style="font-family:cordia new; color:white;font-size:35px;">Full Store </strong> 
                       <span class=""></span>   </li>
            

               </ul>
                
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header" ><img src="img/ICONS/menu/businesswomanred_24px.png"> <span style="font-family:cordia new;  font-size:25px;">HER</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="gstore.html?gender=F&type=skirts"><img src="img/ICONS/menu/skirt_25px.png">
                                    <span style="font-family:cordia new;  font-size:25px;"> Skirts</span></a></li>
                                <li><a href="gstore.html?gender=F&type=shorts">
                                    <img src="img/ICONS/menu/shorts_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Shorts</span></a></li>
                                <li><a href="gstore.html?gender=F&type=tops"><img src="img/ICONS/menu/clothes_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Tops</span></a></li>
                                <li><a href="gstore.html?gender=F&type=shoes"><img src="img/icons/menu/womens_shoe_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Shoes</span></a></li>
                               
                                <li><a href="gstore.html?gender=F&type=lingerie"><img src="img/icons/menu/bra_25px.png">  <span style="font-family:cordia new;  font-size:25px;"> Undergarments</span></a></li>
                                <li><a href="gstore.html?gender=F&type=Jwellery"><img src="img/ICONS/menu/jewelry_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Jwellery</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/businessman_2%2024px.png"><span style="font-family:cordia new;  font-size:25px;"> HIS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="gstore.html?gender=M&type=T-Shirts"><img src="img/ICONS/menu/clothes_green_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> T-Shirts</span></a></li>
                                <li><a href="gstore.html?gender=M&type=Shoes"><img src="img/icons/menu/trainers_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Shoes</span></a></li>
                                <li><a href="gstore.html?gender=M&type=Undergarments"><img src="img/ICONS/menu/shorts_green_25px.png">  <span style="font-family:cordia new;  font-size:25px;"> Shorts</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/icons/menu/gift_24px.png"> <span style="font-family:cordia new;  font-size:25px;"> GIFTS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="gstore.html?gender=U&type=Posters" ><img src="img/ICONS/sheet_of_paper_26px.png"> <span style="font-family:cordia new;  font-size:25px;"> Posters</span></a></li>
                                <li><a href="gstore.html?gender=U&type=Mugs" ><img src="img/ICONS/beer_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Mugs</span></a></li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/add_tag_25px.png"> <span style="font-family:cordia new;  font-size:25px;">CUSTOM</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#"> <img src="img/ICONS/library_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Your College</span></a></li>
                                <li><a href="Cities.html"><img src="img/icons/eiffel_tower_filled_25px.png"> <span style="font-family:cordia new;  font-size:25px;"> Your City</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        
        </ul><!-- slider menu ends here -->
        <ul class="right hide-on-med-and-down">



<li><a href="#" style="font-family:cordia new"class="brand-logo center">CollegeCult</a></li>

      
            <!--|| loginTry" -->
          <li class="loginbtn" ng-click="loginBtn()" ng-hide="loggedIn"  >
                <a href="login.html?id=login" >Login</a>
            </li> <li class="loginbtn" ng-click="loginBtn()" ng-hide="loggedIn"  >
                <a href="login.html?id=registeration" >Sign Up</a>
            </li>
            
          
            <li  style="" ng-show="loggedIn">
                <a class="dropdown-button" data-activates="dropdown1" href="#!" ><i class="mdi-navigation-arrow-drop-down left"></i>
                <span ng-bind="name"></span></a>
                
                   
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="myAccount.html">My Account</a></li>
             <li><a href="cart.html">Cart(<span ng-bind="localStoreItemCount"></span> Items) </a></li>
            <li><a href="wishlist.html">Wishlist(<span ng-bind="wishlistCount"></span> Items) </a></li>
          <li><a href="myorders.html">My Orders</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
            </li>  
         
           
        </ul><!-- horizontal navbar ends here -->
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
    </nav> <!-- navbar ends here-->
    </div>

<div class="card-panel hoverable" >
  <div class="search">
     <form method="get" action="searchResult.html">
            <div class="input-field col s5" style="float: left;margin-left: 27px;">
                <input id="first_name" type="text" name="searchQuery" class="validate">
                <label for="first_name">Clothes & Gifts</label>
            </div>
            <div class="input-field col s3" style="float: left;margin-left: 20px;">
                <input type="submit" class="waves-effect waves-light btn" style="border:1px solid orange; background-color:white; color:black" value="SEARCH">
            </div>
            <div class="input-field col s3" style="float: right;margin-right: 20px;">
                <a href="cart.html" >
                    <img src="img/icons/put_in_32px.png">
                    <span ng-bind="localStoreItemCount"></span> Items
                </a>
            </div>
        </form>
  
  </div>

</div><!-- seacrch bar hoverable ends here-->


<div class="col m9 s12" ng-model="item">

<ul class="row productlist">
<li class="col l6 m12 s12" ><!-- card for item images -->
  <div class="card">
    <div class="card-content">
      <div class="col-sm-3" style="text-align:center" >
        
        
         
          <span  class="thumbnail" style="borderleft:95px;">
          <a href="#" title="Click to View"><img style="" 
          ng-src="img/products/{{item[0].productId}}/{{item[0].productId+'.jpg'}}" ></a>
        </span>  
          
      </div>
    </div>
     <div class="card-action row" style="text-align: center">
     </div>
  </div>
</li>
<li class="col l6 m12 s12"> <!-- card for item details -->
  <div class="card">
    <div class="card-content">
      <h3 style="font-family: cordia new">{{item[0].name}}</h3>
      <span style="color: Orange">Size: {{item[0].size}} <a href="">
          <img src="img/ICONS/length_25px.png" class="tooltipped"data-position="right" data-delay="50" data-tooltip="Sizing Help" ></a><br></span>
      <span style="font-family: cordia new; font-size: 30px;">
          Price: <span style="text-decoration:line-through;"ng-bind="item[0].price | currency"></span>
      </span>
      <span style="color: green;margin-left: 20px;font-family: cordia new; font-size: 30px;"> {{item[0].discount}}  % Off</span><br>
      <span>Shopped by <b>{{item[0].incart}}</b> people</span><br>
          <span>Wished by <b>{{item[0].wishedBy}}</b> people</span>
    </div>
    <div class="card-action row" style="text-align: center">
      <div class="input-field col s3 l3" style="float: left;margin-left: 20px;">
        <a class="waves-effect waves-light btn" style="background-color:white;color:black;border:1px solid #e65100" ng-click="addtoCart(item[0].productId,item[0].discount,item[0].price)">+Cart</a>
      </div>
      <div class="input-field col s3 l3" style="float: left;margin-left: 20px;">
        <a class="waves-effect waves-light btn" style="background-color:white;color:black;border:1px solid #e65100" 
           href="orderSummary.html?orderType=single&productId={{item[0].productId}}">Checkout</a>
      </div>
      <div class="input-field col s4 l4" style="float: left;margin-left: 20px;">
        <a class="waves-effect waves-light btn" style="background-color:white;color:black;border:1px solid #e65100" ng-click="addToWishlist(item[0].productId)">+ wishlist</a>
      </div>
    </div>
  </div>
    

</li>
    <li class="col l12 m12 s12"> <!--matching clothes -->
  <div class="card">
  <div class="card-content">
<h4 style="font-family: cordia new; font-size: 30px;"><b>MATCHES FOR YOU <SPAN ng-bind="name"></SPAN></b></h4><br>
      <div class="row">
      <div class="col l2"ng-repeat="match in matches" style="width">
           <a href="#" title="Click to View"><img style="width:100px;height:100px;" 
          ng-src="img/products/{{match.matchPId}}/{{match.matchPId+'.jpg'}}" ></a>
          </div>
      
      </div>
      
</div>
     <div class="card-action row" style="text-align: center">
    </div>
  </div>
</li>
<li class="col l12 m12 s12"> <!-- card for items describtion -->
  <div class="card">
  <div class="card-content">
    <h4 style="font-family: cordia new; font-size: 30px;"><b>About this Item</b> </h4>
    <div class="col-sm-3" style="" >
      <span  class="thumbnail" style="borderleft:95px;">{{item[0].description}}<br></span>
    </div>
    <h4 style="font-family: cordia new; font-size: 30px;">Features & Details</h4>
      <span>{{item[0].gender}}</span><br>
    <h4 style="font-family: cordia new; font-size: 30px;">Legal Disclaimer</h4>
      <span>colors may vary</span>
    </div>
     <div class="card-action row" style="text-align: center">
    </div>
  </div>
</li>    



  <li class="col l12 m12 s12"> <!-- card for items describtion -->
  <div class="card">
  <div class="card-content">
<h4 style="font-family: cordia new; font-size: 30px;">CUSTOMER REVIEWS</h4>
</div>
     <div class="card-action row" style="text-align: center">
    </div>
  </div>
</li>
</ul>
</div>
    
<div ng-include src="'partials/footer.html'"></div>
   
<script>  function getQueryVariable(variable)
  {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }</script>
<!--my angular scripts-->
<script type="text/javascript" src="jquery/jquery.js"></script>

<!--materialize css-->
<link rel="stylesheet" href="materialize/css/materialize.min.css"> 
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<!--my css-->
<link href="css/index.css" rel="stylesheet">

<!--angular libraries-->
<script type="text/javascript" src="angular/lib/angular.min.js"></script>
<script type="text/javascript" src="angular/lib/angular-webstorage.min.js"></script>

<!--my javascripts-->
<script type="text/javascript" src="javascript/javascript.js"></script>
<script type="text/javascript" src="angular/controllers/productDetailController.js"></script>

    
    
</body>
</html>